body {
  margin:0;
  padding:0;
  background:#23374D;
  font-family: 'Roboto', sans-serif;
  color:#eeeeee;
  box-sizing: border-box;
}

.container{
  display:flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}
.task-main{
  background-color: #1089FF;
  width:80vw;
  height:90vh;
  margin:10px;
  
}

.card{
  background-color: bisque;
  color:black;
  width:100%;
}




.card-content{
background-color:red;
height:50%;

}

.card-title{  
  background-color:orange;
  padding:10px;
  border:1px solid black;
  margin-bottom: 10px;
}

.card-title-span{
  font-size: 1.5em;
}

.row{
  height:80px;
  padding:10px;
}

.input-field{
  position: relative;
  
}

.input-field label{
  position: absolute;
  top:0;
  left:0;
  margin-bottom:15px;
  
}
#task{
  width:100%;
  box-sizing: content-box;
  position: absolute;
  top:20px;
  background-color: transparent;
  border:none;
  border-bottom:2px solid #eeeeee;
  
}

.card-action{
  background-color: green;
  height:50%; 
  overflow:hidden;
  
}